[Unit]
Description=GnuPG public key management service

[Socket]
# gpgconf --list-dirs keyboxd-socket
ListenStream=%t/gnupg/d.q7aeot1djg96z6wdinfgskmc/S.keyboxd
FileDescriptorName=std
SocketMode=0600
DirectoryMode=0700
