# XDG User Dirs
.cache/
dsk/
dox/
dl/
mus/
pic/
pub/
tpl/
vid/

# Personal Data Dirs
srv/

# Browser, see status:
# https://bugzilla.mozilla.org/show_bug.cgi?id=259356
# https://phabricator.services.mozilla.com/D6995
.librewolf/
.mozilla/

# XDG won't fix
.ssh/
