/*.xbel*
/DBeaverData/
/NuGet/
/PrismLauncher/
/Steam/
/Trash/
/applications/mimeinfo.cache
/arduino15/
/cargo/
/dotnet/
/emacs/
/fcitx5/rime/build/
/fcitx5/rime/installation.yaml
/fcitx5/rime/luna_pinyin.userdb/
/fcitx5/rime/sync/
/fcitx5/rime/user.yaml
/gvfs-metadata/
/hyprland/
/icons/
/man/
/mime/
/org.localsend.localsend_app/
/remmina/
/rustup/
/vlc/
/vulkan/
/wineprefixes/
/zathura/
/zsh/history
/Zotero/
