/*.xbel*
/DBeaverData/
/JetBrains/
/NuGet/
/PrismLauncher/
/Steam/
/Trash/
/WeChat_Data/
/Zotero/
/applications/mimeinfo.cache
/arduino15/
/cargo/
/direnv/allow/
/dotnet/
/emacs/
/fcitx5/rime/build/
/fcitx5/rime/installation.yaml
/fcitx5/rime/luna_pinyin.userdb/
/fcitx5/rime/sync/
/fcitx5/rime/user.yaml
/gnupg/
!/gnupg/gpg-agent.conf
/gvfs-metadata/
/hyprland/
/icons/
/jupyter/
/man/
/mime/
/org.localsend.localsend_app/
/password-store/
/pnpm/
/rustup/
/virtualenv/py_info/2/
/vlc/
/vulkan/
/wineprefixes/
/zathura/
/zsh/history
