!/git/config
# TODO: why is pulse cookie here?
/Cursor/
/GIMP/
/JetBrains/
/QtProject.conf
/Thunar/
/VSCodium/
/arduino15/
/cat_installer/
/chromium/
/dconf/
/discord/
/docker/
/electron-builder.json
/fcitx/
/fcitx5/
/freerdp/
/furnace/
/ghidra/
/git/
/go/
/gtk-3.0/bookmarks
/ibus/
/inkscape/
/java/
/libreoffice/
/mozc/
/pulse/
/remmina/
/ristretto/
/tailscale/
/vesktop/
/vlc/
/wireshark/
/xarchiver/
/xfce4/