/Cursor/
/GIMP/
/QtProject.conf
/Thunar/
/arduino15/
/cat_installer/
/dconf/
/discord/
/docker/
/fcitx/
/fcitx5/
/freerdp/
/furnace/
/ghidra/
/go/
/gtk-3.0/bookmarks
/ibus/
/inkscape/
/libreoffice/
/mozc/
# TODO: why is pulse cookie here?
/pulse/
/remmina/
/ristretto/
/tailscale/
/vlc/
/wireshark/
/xarchiver/
/xfce4/